APScheduler==3.10.4
attrs==23.2.0
backoff==2.2.1
blinker==1.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
fiona==1.9.6
Flask==3.0.2
Flask-Cors==4.0.0
geopandas==0.14.3
greenlet==3.0.3
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
meteostat==1.6.7
mysql-connector-python==8.4.0
numpy==1.26.3
opencage==2.4.0
packaging==24.0
pandas==2.2.0
pyarrow==16.0.0
pyproj==3.6.1
python-dateutil==2.8.2
pytimeparse2==1.7.1
pytz==2024.1
requests==2.31.0
scipy==1.13.0
shapely==2.0.3
simplejson==3.19.2
six==1.16.0
SQLAlchemy==2.0.30
sqlite3-to-mysql==2.1.10
tabulate==0.9.0
opencage==2.4.0